<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="form-group">
      <div><label for="emailInput" class="email"> Email </label></div>
      <input
        type="email"
        class="form-control"
        [class.error]="
          loginForm.controls.email.touched &&
          (loginForm.controls.email.errors?.email ||
            loginForm.controls.email.errors?.required)
        "
        formControlName="email"
        placeholder="Enter email"
        required
      />

      <div>
        <small
          class="form-text errorcode"
          *ngIf="
            loginForm.controls.email.touched &&
            loginForm.controls.email.errors?.required &&
            !submitted
          "
        >
          Please enter a valid email address
        </small>

        <small
          class="form-text errorcode"
          *ngIf="
            loginForm.controls.email.touched &&
            loginForm.controls.email.errors?.email
          "
        >
          Email address not proper!
        </small>
        <small
          class="form-text errorcode"
          *ngIf="submitted && loginForm.controls.email.errors?.required"
        >
          This field is Required
        </small>
      </div>
    </div>
    <br />
    <div class="form-group">
      <div><label for="passwordInput" class="password">Password</label></div>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        [class.error]="
          loginForm.controls.password.touched &&
          loginForm.controls.password.errors?.required
        "
        required
      />

      <small
        class="form-text errorcode"
        *ngIf="submitted && loginForm.controls.password.errors?.required"
      >
        This field is Required
      </small>
    </div>
    <br />
    <button type="submit" class="btn btn-primary submit">Login</button>
    <div *ngIf="this.showError" class="errorcode">
      Email or Password incorrect
    </div>
  </form>
</div>
